<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/product.css" />
        <title>product</title>
    </head>
    <body>
        <div class="container">
            <h1>Create Product</h1>

            <form action="/product" method="post" enctype="multipart/form-data">
                <div class="form-container">

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input
                            type="text"
                            id="title"
                            placeholder="title"
                        />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input
                            type="description"
                            id="description"
                            placeholder="product description"
                            name="description"
                        />
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" id="price" name="price" placeholder="0.00$"/>
                    </div>

                    <div class="form-group">
                        <label for="category">Category</label>
                        <input type="text" id="category" name="category" placeholder="furniture,beauty"/>
                    </div>

                    <div class="form-group">
                        <label for="image">Product image</label>
                        <input type="file" id="image" name="image"/>
                    </div>
                </div>

                <button type="submit">Add product</button>

            </form>
        </div>
    </body>
</html>
